<template name="postUpvote">
  {{#if upvoted}}
    <span class="upvote-link voted action" title="{{_ "upvoted"}}">
      <i class="icon-check action-icon"></i>
    </span>
  {{else}}
    <a class="upvote-link not-voted action" href="#" title="{{_ "upvote_"}}">
      <i class="icon-up action-icon"></i>
    </a>
  {{/if}}
  {{#if downvoted}}
  	<a class="downvote-link voted action" href="#" title="{{_ "downvoted"}}">
  		<i class="icon-check action-icon"></i>
	</a>
  {{else}}
  	<a class="downvote-link not-voted action" href="#" title="{{_ "downvote"}}">
  		<i class="icon-up action-icon"></i>
  	</a>
  {{/if}}
</template>