<template name="userAccount">
  <div class="grid-small grid-module dialog user-edit">

  {{#if profileIncomplete}}
    <div>
      {{_ "please_complete_your_profile_below_before_continuing"}}
    </div>
    {{/if}}
    <form id="account-form">
      <h2>{{_ "account"}}</h2>
      <div class="control-group">
        <label>{{_ "username"}}</label>
        <div class="controls">
          <input id="username" name="username" disabled="disabled" type="text" value="{{userName}}" />
        </div>
        <p class="note">Profile URL: {{profileUrl}}</p>
      </div>
  <!--       <div class="control-group">
        <label>Email</label>
        <div class="controls">
          <input id="email" name="email" disabled="disabled" type="text" value="{{email}}" />
        </div>
      </div> -->
      <div class="control-group">
        <a target="_blank" class="avatar-link" href="https://signup.wordpress.com/signup/?ref=oauth2&oauth2_redirect=79b45b162ac2ff5dda64b6cc01434a2a%40https%3A%2F%2Fpublic-api.wordpress.com%2Foauth2%2Fauthorize%2F%3Fclient_id%3D1854%26response_type%3Dcode%26blog_id%3D0%26state%3D90081c920a7ee7d8ec4843c4fc365732c86f0258968efe2507eb53f768e5d9d9%26redirect_uri%3Dhttps%253A%252F%252Fen.gravatar.com%252Fconnect%252F%253Faction%253Drequest_access_token%26jetpack-code%26jetpack-user-id%3D0%26action%3Doauth2-login&wpcom_connect=1">{{_ "update_avatar"}}</a>
      </div>
      <div class="control-group">
        <label>{{_ "display_name"}}</label>
        <div class="controls">
          <input name="name" type="text" value="{{profile.name}}" />
        </div>
      </div>
      <div class="control-group">
        <label>{{_ "email"}}</label>
        <div class="controls">
          <input name="email" type="text" value="{{userEmail}}" />
        </div>
      </div>
      <div class="control-group">
        <label>{{_ "bio"}}</label>
        <div class="controls"><textarea name="bio" type="text">{{profile.bio}}</textarea></div>
      </div>
      <div class="control-group">
      <label>{{_ "twitter_username"}}</label>
        <div class="controls">
          <input name="twitter" type="text" value="{{getTwitter}}" />
        </div>
      </div>
      <div class="control-group">
        <label>{{_ "github_username"}}</label>
        <div class="controls">
          <input name="github" type="text" value="{{getGitHub}}" />
        </div>
      </div>
      <div class="control-group">
        <label>{{_ "site_url"}}</label>
        <div class="controls">
          <input name="site" type="text" value="{{profile.site}}" />
        </div>
      </div>
      {{#if hasPassword}}
        <h3>{{_ "change_password"}}</h3>
        <div class="control-group">
          <label>{{_ "old_password"}}</label>
          <div class="controls"><input name="old_password" type="password" value="" /></div>
        </div>
        <div class="control-group">
          <label>{{_ "new_password"}}</label>
          <div class="controls"><input name="new_password" type="password" value="" /></div>
        </div>
      {{/if}}
      <div class="control-group">
        <label class="control-label">{{_ "email_notifications"}}</label>
        <div class="controls">
          {{#if isAdmin}}
            <label class="checkbox">
              <input id="notifications_users" type="checkbox" name="notifications_users" {{hasNotificationsUsers}} /> {{_ "new_users"}}
            </label>
          {{/if}}
          <label class="checkbox">
            <input id="notifications_posts" type="checkbox" name="notifications_posts" {{hasNotificationsPosts}} /> {{_ "new_posts"}}
          </label>
          <label class="checkbox">
            <input id="notifications_comments" type="checkbox" name="notifications_comments" {{hasNotificationsComments}} /> {{_ "comments_on_my_posts"}}
          </label>
          <label class="checkbox">
            <input id="notifications_replies" type="checkbox" name="notifications_replies" {{hasNotificationsReplies}} /> {{_ "replies_to_my_comments"}}
          </label>
        </div>
      </div>
      {{#if isAdmin}}
      <div class="control-group">
        <h3>Invites</h3>
        <label>Invites</label>
        <div class="controls">
          <input name="inviteCount" type="text" value="{{inviteCount}}" />
        </div>
      </div>
      {{/if}}
      <div class="form-actions">
        <a href="/forgot-password">{{_ "forgot_password"}}</a>
        <input type="submit" class="button" value="{{_ "submit"}}" />
      </div>
    </form>
    </div>
</template>
